/* creates moving background effect */
@keyframes change {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

body {
  margin: 0;
  align-items: center;
  font-family: montserrat;
}

h1 {
  font-family: Montserrat;
  display: block;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  margin: 0;
}

.background {
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 400%;

  /* creates background gradient */
  background-image: linear-gradient(
    45deg,
    rgba(142, 198, 197, 1),
    rgba(105, 131, 170, 1),
    #8566aa
  );
  animation: change 7s infinite alternate;
  color: #f4f4f4;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paragraph {
  border: thick;
  padding-left: 20vw;
  padding-right: 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.navbar {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  border: 0;
  padding: 0 2% 0;
}

.block {
  padding: 0;
  min-height: 100vh;
}
