<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="static/index.css" />
    <title>Sunny Donaldson</title>
  </head>

  <body>
    <div class="background">
      {% include "navbar.html" %}
      <div class="title-container">
        <p>Hi, I'm Sunny!!</p>
      </div>
      <hr />
    </div>
    <div>{% include "about.html" %}</div>
  </body>
</html>
