<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="static/index.css" />
  </head>

  <body>
    <div class="title-container">
      <h1>Sunny Donaldson</h1>
      <p>Hi, I'm Sunny!!</p>
      <marquee direction="right">
        Here's a marquee because they're cool
      </marquee>
    </div>
    <hr />

    <div class="paragraph">
      <div>
        <p>I do coding</p>
      </div>
      <div>
        <p>I like playing the saxophone</p>
      </div>
    </div>
  </body>
</html>
